In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
drugs_df=pd.read_csv('D:\Python Data Analysis\decision_tree\drugdata.csv')

In [4]:
drugs_df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [34]:
drugs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [39]:
#changing the flot data type to integer
drugs_df['Na_to_K'] = drugs_df['Na_to_K'].astype('int')

In [40]:
# Let's decide input and target variable
X=drugs_df.drop('Drug',axis='columns')

In [41]:
X

     Age Sex      BP Cholesterol  Na_to_K
0     23   F    HIGH        HIGH       25
1     47   M     LOW        HIGH       13
2     47   M     LOW        HIGH       10
3     28   F  NORMAL        HIGH        7
4     61   F     LOW        HIGH       18
..   ...  ..     ...         ...      ...
195   56   F     LOW        HIGH       11
196   16   M     LOW        HIGH       12
197   52   M  NORMAL        HIGH        9
198   23   M  NORMAL      NORMAL       14
199   40   F     LOW      NORMAL       11

[200 rows x 5 columns]

In [42]:
y=drugs_df['Drug']

In [43]:
y

0      drugY
1      drugC
2      drugC
3      drugX
4      drugY
       ...
195    drugC
196    drugC
197    drugX
198    drugX
199    drugX
Name: Drug, Length: 200, dtype: object

In [44]:
from sklearn.preprocessing import LabelEncoder
le_Sex=LabelEncoder()
le_BP=LabelEncoder()
le_Cholesterol=LabelEncoder()

In [60]:
X['Age']=le_age.fit_transform(inputs['Age'])
X['Sex']=le_age.fit_transform(inputs['Sex'])
X['BP']=le_age.fit_transform(inputs['BP'])
X['Cholesterol']=le_age.fit_transform(inputs['Cholesterol'])
X['Na_to_K']=le_age.fit_transform(inputs['Na_to_K'])

In [61]:
X

     Age  Sex  BP  Cholesterol  Na_to_K
0      8    0   0            0      167
1     30    1   1            0       89
2     30    1   1            0       43
3     12    0   2            0       10
4     44    0   1            0      133
..   ...  ...  ..          ...      ...
195   39    0   1            0       69
196    1    1   1            0       75
197   35    1   2            0       36
198    8    1   2            1      102
199   24    0   1            1       66

[200 rows x 5 columns]

In [62]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [63]:
X_train

     Age  Sex  BP  Cholesterol  Na_to_K
42    33    1   2            1      117
189   47    1   0            1      155
90    45    1   2            0      123
136   38    0   0            0       56
51    50    1   2            1       55
..   ...  ...  ..          ...      ...
106    7    1   2            0       74
14    33    0   2            0       80
92    13    0   0            0      184
179   50    0   2            0      118
102   12    0   1            0       90

[134 rows x 5 columns]

In [64]:
from sklearn.tree import DecisionTreeClassifier

In [65]:
NewTreeModel=DecisionTreeClassifier()
#this is a post pruning technique as the default parameters are used for this decision tree model

In [66]:
NewTreeModel.fit(X_train,y_train)

DecisionTreeClassifier()

In [67]:
NewTreeModel.score(X,y)

1.0

In [73]:
# Give the range of values for drug prediction
NewTreeModel.predict([[23,0,1,1,25]])

C:\Users\kiran\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['drugX'], dtype=object)